{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3>Select Courses for Timetable Generation</h3>
    <form action="/admintimetable" method="POST">
        <h2>Select Courses to Schedule</h2>
        <div>
            {% for course in available_courses %}
                <input type="checkbox" name="courses[]" value="{{ course._id }}"> 
                {{ course.course_name }} ({{ course.course_code }}) ({{ course.department }})<br>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Generate Timetable</button>
    </form>
</div>
{% endblock %}
